*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    width: 100vw;
    height: 100dvh;
}

h1{
    padding: 50px;
    color: aliceblue;
    font-size: 48px;
}

.box{
     width: 100px;
     height: 100px;
     background-color: greenyellow;
     box-shadow: 0 0 0 15px grey;
     margin: 50px;
     display: inline-block;
     border-radius:50% ;
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
     animation-name: trip;
     animation-duration: 2.5s;
     animation-timing-function: linear;
     animation-iteration-count: 2;
     animation-direction: alternate;
     
}

/* @keyframes lefttoright{
    from{
      translate: 0%;
    }
    to{
        translate:calc(90vw - 100px);
    }
} */

 /* @keyframes lefttoright{
    0%{
      translate: 0%;
    }
    50%{
        translate: 50vw 50vh;
    }
    100%{
        translate:calc(90vw - 100px);
    }
} */

@keyframes trip{
    0%{
        background-color: aqua;
        translate: (200px,0%);
}
25%{
    background-color: aquamarine;
    translate: calc(90vw - 10%);
}
50%{
    background-color: bisque;
    translate: calc(90vw - 10%),500px;
}
75%{
    background-color: aqua;
    translate: (20%,500px);
}
100%{
    background-color: aquamarine;
    translate: (20%,0);
}
}