body{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
     background-image: url("IMG_20251117_195631.jpg"),url("AFA.jpg"); 
    background-repeat: no-repeat;
     background-size: 100% 100%;
    /* background-position: left bottom; */
    /* background-blend-mode: difference; */
}