*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

.shadow{
    width: 300px;
    height: 300px;
    padding: 40px;
    background-color: rgb(192, 38, 11);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    box-shadow: 0 0 60px 60px rgb(242, 162, 3);
}