*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: grid;
    place-items: center;
}

img{
    filter: drop-shadow(0 0 50px rgb(166, 187, 99));
    -webkit-filter: drop-shadow(0 0 50px rgb(169, 187, 99));
}