*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;

}

img{
    width: 60%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /*/*filter: grayscale();
    -webkit-filter:;
    *//*filter:blur(5px);
    *//*filter:brightness(200%) ;
    *//*filter: contrast(500%);
    *//*filter: saturate(2);
    *//*filter:invert();
    */filter:opacity(0.5) ;
}