*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: grid;
    place-items: center;
    background-color: aliceblue;
}

#main-heading{
    font-size: 6.2rem;
    color: black;
    margin: 3rem 0;
}

.flex-container{
    width: 50%;
    height: auto;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    background: linear-gradient(to right,  #57C785,#EDDD53);
    color: #fff;

/* flexbox container properties */
   display: flex;
   /* flex-direction: row-reverse; */
   /* flex-direction: column-reverse; */
   flex-direction: row;
   /* justify-content: center; */
   justify-content: center;
   /* align-items: center; */
   gap: 20px;

   flex-wrap: wrap;
   align-content: center;
}
.item{
   min-width: 80px;
    height: 80px;
    /* aspect-ratio: 1; */
    background-image:linear-gradient( to right top, #090979,#00D4FF);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    font-size: 20px;
    flex: 1;
}

/* .item-3{
    height: 400px;
} */

.item-2{
  /* flex-grow: 1; */
  /* flex-shrink: 5; */
  /* align-self: center; */
}
  
.item-3{
    /* flex-basis: 200px; */
}