/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #09caf5 0%,#09caf5 50%),
    linear-gradient(to bottom, #ffffff 0%, #fff 50%);
    background-size: 100% 50%, 100%,50%;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.lists{
    width: 500px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: black 0px 4px 10px;
}

ul{
    list-style-type: decimal;
    list-style-position: inside;
    
}

li{
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 16px;
    border: 2px solid rgba(205, 22, 22, 0.748);
    position: relative;
}