*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      background-color: #080a0c;
  color: azure;
  height: 100vh;
}

.container{
    height: 100vh;
  max-width: 1320px;
  padding: 64px 0;
  margin: 0 auto;
  display: grid;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 6.4rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

/* .hero-contain h1{
    text-align: left;
    font-size: 54px;
}
.hero-contain p{
    font-size: 18px;
    letter-spacing: 1px;
    margin: 2rem 0 4rem 0;
} */

img {
  width: 100%;
  height: auto;
}

.hero-content a {
  background-color: #fff;
  display: inline-block;
  padding: 10px 32px;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* css logical property (inline & block) */

 .container h1{
    /* border:5px solid red; */
    /* border-top:5px solid red ;
    border-bottom: 5px solid red;
    border-left: 5px solid yellowgreen;
    border-right: 5px solid yellowgreen; */



    border-inline: 5px solid red;
    padding: 10px;
    /* width: 300px; */
    text-align: center;
    border-block: 5px solid green;
   
}


/* css nesting */

.hero-content{
  & h1{
        text-align: left;
    font-size: 54px;
    /* &::before {
        content: "the goat";
    }
     */writing-mode: vertical-lr;
     
}
   & p{
      font-size: 18px;
    letter-spacing: 1px;
    margin: 2rem 0 4rem 0;
    }
}