*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

body{
display: grid;
place-items: center;
}

#main-heading{
    font-size: 6.2rem;
    color: black;
    margin: 3rem 0;

}

p{
    line-height: 40px;
    font-size: 2rem;
}

.overflow-div{
    width: 600px;
    height: 300px;
    box-shadow: black 0px 6px 24px 0px;
    border: 5px solid green;
    padding: 10px;
    overflow: visible;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
}