* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Urbanist", sans-serif;
}

body {
  padding: 5rem 10rem;
}

#main-heading {
  color: #1e1403;
  text-align: center;
  margin-bottom: 30px;
}

.parent-div {
  width: 1000px;
  height: 750px;
  color: #fff;
  background: linear-gradient(to right, #514a9d, #24c6dc);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
}

.child {
  width: 150px;
  height: 150px;
  background: linear-gradient(to right, #93edc7, #1cd8d2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* to make the text center   */
  display: grid;
  place-items: center;
  font-size: 32px;
  color: #003180;
}

.child:nth-child(2),
.child:nth-child(4) {
  background: linear-gradient(to right, #3cd3ad, #4cb8c4);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* actual position start here */

.parent-div{
    position: relative;
    left: 200px;
}

.child{
    position: absolute;
}

/* top,bottom,left,right */

.child-2{
    top: 0;
    right: 0;
}

.child-3{
    bottom: 0;
    left: 0;
}

.child-4{
    bottom: 0;
    right: 0;
}

.child-5{
    /*left: 425px;
    top: 300px;
    */left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
}