body{
    background-color: hsl(0, 0%, 94%);
    display: grid;
    place-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-section{
    width: 50%;
}

h1{
    font-size: 50px;
    font-weight: 900;
    /*textpropartiesCSS*/text-align: left;
    text-decoration-line:underline ;
    -moz-text-decoration-line:underline ;
    text-decoration-color:darkgreen ;
    -moz-text-decoration-color:darkgreen ;
    text-decoration-thickness: 10px;
    text-decoration-style: solid;
    -moz-text-decoration-style: solid;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px darkgreen;
}


p{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 2px;
    line-height: 1.56;
    /* white-space: nowrap; */
}
p::first-letter{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
}