*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    background-color: black;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: inset 0 0 0 5px #4861ec;
}

.box{
    width: 250px;
    height: 250px;
    background-color: #4861ec;
    box-shadow: inset 0 0 0 5px #353f6d;
    margin: 20px;
    color: aliceblue;
    font-size: 2rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
}

.container img{
    width: 100%;
    width: 30%;
    height: auto;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}

.container img:hover{
    /*transform: translatey(500px);
    -webkit-transform: t;
    -moz-transform: t;
    -ms-transform: t;
    -o-transform: t;
    *//*translate: 500px 200px;
    *//*scale: 3;
    *//*scale: 0.5;
    *//*transform: rotate(180deg);
    *//*transform: skew(-45deg) ;
    *//*rotate: -20deg;
    transform-origin: right;
    */transform: translatex(300px)  scale(0.5)  rotate(45deg);
}