/* for pixel */
body{
    background-color: hsl(0, 0%,94%);
}
/* h1{
    font-size: 75px;
    color: darkgreen;
}
p{
    font-size: 50px;
}
li{
    font-size: 60px;
} */

/* for parcentage(%) */
/* 1px=6.25% */

/* h1{
    font-size: 468.75%;
    color: darkgreen;
}
p{
    font-size: 312.5%;
}
li{
    font-size: 375%;
} */

 /* for 1em=16px */

 /* h1{
    font-size: 4.6875em
;
    color: darkgreen;
}
p{
    font-size:3.125em
;
}
li{
    font-size:3.75em;
} */

 /* for rem 
 1rem=10px, it makes our life easy */
html{
    font-size: 62.5%
}
 h1{
    font-size: 7.5rem
;
    color: darkgreen;
}
p{
    font-size:5.0rem
;
}
li{
    font-size:6.0rem;
}